body{
    margin-left: 80px;
    margin-top: 60px;
}
h1{
    font-size: 50px;
    font-weight: 400px;
    border-left: solid; 
    border-color: red; 
    padding-left: 5px;   

}
.text-yellow{
color: rgb(236, 148, 65);
}
p{
    font-size: 20px;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    
}
.half-width img{
    width: 70%;
    height: 70%;
    margin-top:0;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato,rgb(211, 46, 17));
    padding: 15px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
h2{
    text-align: center;
    font-size: 50px;
}
.divided{
    box-shadow: 2px 2px 2px 2px gray;
    width:250px;
    margin-top: 30px;
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 80px;
    margin-top: 60px;
    border-radius: 5px;
}
.divided img{
width: 100%;
}
#grey{
    background-color:rgb(206, 216, 191);
}
#red{
    background-color: rgb(212, 165, 165);
}
#yellow{
    background-color: rgb(226, 226, 203);
}


