body{
    margin-left: 80px;
    margin-top: 60px;
}
h1{
    font-size: 50px;
    font-weight: 400px;
    border-left: solid; 
    border-color: red; 
    padding-left: 5px;   

}
.text-yellow{
color: rgb(236, 148, 65);
}
p{
    font-size: 20px;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    
}
.half-width img{
    width: 70%;
    height: 70%;
    margin-top:0;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato,rgb(211, 46, 17));
    padding: 15px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
h2{
    text-align: center;
    font-size: 50px;
}
.divided{
    box-shadow: 2px 2px 2px 2px gray;
    width:20%;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 100px;
    margin-top: 60px;
    border-radius: 5px;
    height: 5%;
}
.divided img{
width: 50%;
}
#grey{
    background-color:rgb(206, 216, 191);
}
#red{
    background-color: rgb(212, 165, 165);
}
#yellow{
    background-color: rgb(226, 226, 203);
}
.half-w{
    width: 100%;
    padding-left: 5%;
}
.half-w img{
    width: 110%;
    height: 80%;
    margin-top: 26%;
}
.part-three{
    margin-top: 6%;
    margin-left: 8%;
    margin-right: 20%;
}
h4{
    font-size: 40px;
}
.link-second{
    text-decoration: none;
    background-image: linear-gradient(tomato,rgb(211, 46, 17));
    padding: 15px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.part-four{
    margin-top: 6%;
    margin-left: 5%;
    margin-right: 20%;
}
.half-wl{
    width: 100%;
    padding-left: 5%;
}
.half-wl img{
    width: 100%;
    height: 60%;
    margin-top: 26%;
}
.fivth{
    display: flex;
    margin-right: 90px;
}
#font-size{
    font-size: 50px;

}
#link{
width:250px;
height:250px;
}
.margin{
 margin-left: 350px;
}
#last-part{
    text-align: center;
    font-size: 40px;
    font-style: italic;
    color: white;
    margin-top: 15%;
}
.last-part{
    background-color: black;
}
span{
    color: red;
}
#last-episod{
    color: white;
    text-align: center;
    font-size: 15px;
}